@page
@model CQRSRazorPages.Pages.CheckIn

<form method="POST">
    <div class="mb-3">
        <label class="form-label">Check-In Quantity</label>
        <input type="number" class="form-control" name="number" value="1">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
