@inherits LayoutComponentBase

<div class="top-bar">
    <a class="logo" href="">
        <img src="img/logo.svg" />
    </a>

    <NavLink href="/" class="nav-tab">
        <img src="img/bike.svg" />
        <div>Customer Orders</div>
    </NavLink>

</div>

<div class="content">
    @Body
</div>
